@import url(https://fonts.googleapis.com/css?family=Overpass+Mono:400,700&display=swap);
body {
  margin: 0 auto;
  padding: 10px;
  font-family: 'Overpass Mono', monospace;
  background: #000;
  color: #fff;
  max-width: 1000px
}

button,
input {
  display: block;
  font-family: inherit;
  font-size: inherit;
  background: inherit;
  color: inherit
}

svg {
  fill: currentColor;
  height: 1rem;
  width: 1rem
}

.view-tiles a,
button,
input {
  box-sizing: border-box;
  border: 1px solid #272727;
  padding: 10px 20px
}

button {
  cursor: pointer;
  display: flex;
  align-items: center
}

.view-tiles a:hover,
button:hover {
  background: #073c5a
}

#logo {
  height: 1em;
  vertical-align: top
}

#logo:hover {
  filter: brightness(.8)
}

h1,
h2,
p {
  margin: 20px 0
}

#support {
  margin-top: 52px
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none
}

.ais-SearchBox-form {
  display: flex;
  margin-bottom: 40px
}

.ais-SearchBox-input {
  flex: 1
}

#hits {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #2bceff
}

a:hover {
  text-decoration: underline
}

.ais-Hits {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.ais-Hits-item {
  margin-bottom: 20px;
  height: 100%;
  word-wrap: break-word
}

.ais-Hits-item a {
  color: #fff
}

.ais-Hits-item h2 {
  font-size: 1rem;
}

.ais-Hits-item h2, .ais-Hits-item p {
  margin: 0;
  margin-bottom: 6px;
}

.dull {
  color: #c0ccc7
}

.superdull {
  color: #4f5454
}

mark {
  background: #662a67;
  color: #ffffff
}

[hidden] {
  display: none
}

.view-tiles {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  list-style-type: none;
  grid-gap: 10px
}

.view-tiles a {
  height: 100%;
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
  color: #2bceff
}

::selection {
  background: #2bceff;
  color: #000
}